 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 896px;
}

.u-section-1 .u-group-1 {
  min-height: 59px;
  margin-top: 31px;
  margin-bottom: 0;
  height: auto;
  --radius: 18px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 112px;
  height: auto;
  --radius: 18px;
  margin-top: 21px;
  margin-bottom: 0;
  background-image: url("../images/kjhghjklkjhj-2048x175.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-group-3 {
  min-height: 445px;
  height: auto;
  --radius: 18px;
  width: 660px;
  margin: 196px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 25px 30px 30px;
}

.u-section-1 .u-image-2 {
  height: 90px;
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.56;
  margin: 12px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 325px;
  height: 300px;
  margin: -697px auto 0 335px;
}

.u-section-1 .u-image-4 {
  min-height: 335px;
  height: auto;
  --radius: 18px;
  width: 629px;
  background-image: url("../images/5ab164a0-8751-4357-ac2c-dfdb1d6e4668-2.jpg");
  background-position: 50% 50%;
  margin: -223px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 25px 0 30px;
}

.u-section-1 .u-image-5 {
  width: 541px;
  height: 499px;
  margin: -325px auto 142px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 74px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-3 {
    margin-left: 215px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 498px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 47px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 15px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 314px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 796px;
}

.u-section-2 .u-image-1 {
  min-height: 691px;
  height: auto;
  --radius: 18px;
  width: 447px;
  background-image: url("../images/306858307_5382947095091978_3469812168041452685_n-3.jpg");
  background-position: 50% 50%;
  margin: 36px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 25px 30px 30px;
}

.u-section-2 .u-image-2 {
  min-height: 360px;
  height: auto;
  --radius: 18px;
  width: 447px;
  background-image: url("../images/296801493_5277751338944888_8451554820024155422_n-2.jpg");
  background-position: 50% 50%;
  margin: -691px 390px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 25px 30px 30px;
}

.u-section-2 .u-image-3 {
  min-height: 295px;
  height: auto;
  --radius: 18px;
  width: 447px;
  background-image: url("../images/285464052_5092498257470198_2898055503481301302_n-2.jpg");
  background-position: 50% 50%;
  margin: 36px 390px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 25px 30px 30px;
}

.u-section-2 .u-image-4 {
  min-height: 295px;
  height: auto;
  --radius: 18px;
  width: 361px;
  background-image: url("../images/305763126_5362998753753479_393606284570335562_n-2.jpg");
  background-position: 50% 50%;
  margin: -295px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 25px 30px 30px;
}

.u-section-2 .u-image-5 {
  width: 432px;
  height: 464px;
  margin: -727px 0 60px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    width: 660px;
    margin-top: -13px;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-2 .u-image-5 {
    height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-2 {
    margin-right: 273px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 93px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 93px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 366px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 796px;
}

.u-section-3 .u-image-1 {
  min-height: 360px;
  height: auto;
  --radius: 18px;
  width: 447px;
  background-image: url("../images/300607713_5317259664994055_3260303218258868800_n-2.jpg");
  background-position: 50% 50%;
  margin: 36px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-image-2 {
  min-height: 360px;
  height: auto;
  --radius: 18px;
  background-image: url("../images/297074204_5275074435879245_9008955241222541679_n-3-2.jpg");
  background-position: 50% 50%;
  margin-top: 389px;
  margin-bottom: -419px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 25px 30px 30px;
}

.u-section-3 .u-group-3 {
  min-height: 588px;
  height: auto;
  --radius: 18px;
  width: 801px;
  margin: -360px 36px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 90px;
  width: 746px;
  margin: 25px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.56;
  margin: 12px auto 0 30px;
}

.u-section-3 .u-image-4 {
  width: 501px;
  height: 463px;
  margin: -522px -36px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 521px;
  height: 481px;
  margin: -314px auto 6px 139px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-image-1 {
    width: 660px;
    margin-top: -13px;
    height: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: -13px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-3 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 87px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
  }

  .u-section-3 .u-image-3 {
    height: 74px;
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-image-5 {
    margin-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-image-3 {
    height: 47px;
    width: 340px;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 314px;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 314px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 531px;
}

.u-section-4 .u-group-1 {
  min-height: 417px;
  height: auto;
  --radius: 18px;
  width: 781px;
  margin: 57px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 501px;
  height: 463px;
  margin: -164px 11px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.56;
  margin: -113px 123px 0 41px;
}

.u-section-4 .u-image-2 {
  height: 81px;
  width: 740px;
  margin: -312px 0 0 auto;
}

.u-section-4 .u-image-3 {
  min-height: 303px;
  height: auto;
  --radius: 18px;
  width: 328px;
  background-image: url("../images/297372772_5277751335611555_7607926867601177844_n-2-1-2.jpg");
  background-position: 50% 50%;
  margin: -417px 145px 60px auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-image-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 93px;
    margin-left: 11px;
  }

  .u-section-4 .u-image-2 {
    height: 79px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    height: 59px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 314px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-4 .u-image-2 {
    height: 37px;
    width: 340px;
  }

  .u-section-4 .u-image-3 {
    margin-right: 12px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 697px;
}

.u-section-5 .u-image-1 {
  width: 328px;
  height: 150px;
  margin: 66px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.35;
  letter-spacing: 1px;
  font-family: SF-Pro-Display-Regular;
  font-weight: 400;
  width: 637px;
  margin: 49px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 147px;
  height: 159px;
  margin: 49px auto 60px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.rotate {
  transform: rotate(90deg);
}
.mirror {
/* From https://css.glass */
background: rgba(0, 0, 0, 0.3);
border-radius: 40px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.rotate2 {
transform: rotate(-90deg);
}
.x{
  display: inline-block;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.x {
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}
.y{
  display: inline-block;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.y {
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * 1s);
}
.school {
transform: rotate(-90deg);
	
}
.academy {
transform: rotate(-39deg);
}
.collective {
transform: rotate(12deg);
}
.timothy {
	transform: rotate(63deg);
}
.sound {
transform: rotate(114deg);
}
.tour {
transform: rotate(165deg);
}
}
.konferencie{
transform:rotate (216deg)
}
.kon {
transform: rotate(216deg);
}
.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 8.5s steps(30, end),
    blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    .typing-text {
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3s steps(40, end) infinite;
    } @font-face {
  font-family: 'SF-Pro-Display-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Regular.otf);
}@font-face {
  font-family: 'HIGHWAYSLOVAKD1GOTHIC-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HIGHWAYSLOVAKD1GOTHIC-Regular.otf);
}@font-face {
  font-family: 'HelveticaNeue-01';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue-01.ttf);
}@font-face {
  font-family: 'SF-Pro-Display-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SF-Pro-Display-Semibold.otf);
}@font-face {
  font-family: 'HelveticaNeue-Bold-02';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HelveticaNeue-Bold-02.ttf);
}